asgiref==3.12.1
astroid==4.0.4
dill==0.4.1
Django==6.0.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
isort==8.0.1
mccabe==0.7.0
platformdirs==4.10.1
PyJWT==2.13.0
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
ruff==0.15.22
sqlparse==0.5.5
tomlkit==0.15.1
